doctype html
html
  head
    title p5.js maze
    meta(charset="utf-8")
    script(src='https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.11/p5.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(src='assets/js/script.js')
  body
    
